In [11]:
import pandas as pd
import numpy as np

vegetauxCsv = pd.read_csv("/Users/yassine/Desktop/data-python/fr_vegetaux.csv")
dateV = vegetauxCsv.loc[vegetauxCsv['Année'] == 2013]
r = dateV[dateV['Unité'] == 'Kcal/personne/jour']
perDayV = r[r['Élément'] == 'Disponibilité alimentaire (Kcal/personne/jour)']
vegetaux = perDayV.drop(['Année','Code Produit','Symbole','Domaine','Code Domaine','Code Élément','Code année','Description du Symbole'], axis=1)

vegetaux

,Code zone,Zone,Élément,Produit,Unité,Valeur
8,2,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Blé,Kcal/personne/jour,1369.0
18,2,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Riz (Eq Blanchi),Kcal/personne/jour,141.0
30,2,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Orge,Kcal/personne/jour,26.0
42,2,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Maïs,Kcal/personne/jour,21.0
51,2,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Millet,Kcal/personne/jour,3.0
...,...,...,...,...,...,...
104836,181,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Bière,Kcal/personne/jour,24.0
104844,181,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Boissons Fermentés,Kcal/personne/jour,10.0
104853,181,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Boissons Alcooliques,Kcal/personne/jour,42.0
104865,181,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Aliments pour enfants,Kcal/personne/jour,0.0
104868,181,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Miscellanees,Kcal/personne/jour,2.0

In [20]:

populationCsvToArray = pd.read_csv("/Users/yassine/Desktop/data-python/fr_population.csv", sep=',')
populationBydate = populationCsvToArray.loc[populationCsvToArray['Année'] == 2013]
filtered_df = populationBydate[(populationBydate['Code zone'] != 96) & (populationBydate['Code zone'] != 41) & (populationBydate['Code zone'] != 128) & (populationBydate['Code zone'] != 214)]
populationRemoveDuplicateByCountries =  filtered_df.drop_duplicates(subset='Code zone', keep="last")
populationRemoveDuplicateByCountries.rename(columns={'Valeur':'Population'}, inplace=True)
countries = populationRemoveDuplicateByCountries.drop(['Élément','Code Produit','Symbole','Domaine','Code Domaine','Code Élément','Code année','Description du Symbole'], axis=1)

countries

,Code zone,Zone,Produit,Année,Unité,Population
0,2,Afghanistan,Population,2013,1000 personnes,30552
1,202,Afrique du Sud,Population,2013,1000 personnes,52776
2,3,Albanie,Population,2013,1000 personnes,3173
3,4,Algérie,Population,2013,1000 personnes,39208
4,79,Allemagne,Population,2013,1000 personnes,82727
...,...,...,...,...,...,...
170,236,Venezuela (République bolivarienne du),Population,2013,1000 personnes,30405
171,237,Viet Nam,Population,2013,1000 personnes,91680
172,249,Yémen,Population,2013,1000 personnes,24407
173,251,Zambie,Population,2013,1000 personnes,14539
174,181,Zimbabwe,Population,2013,1000 personnes,14150

In [19]:
joinPopVegetaux = pd.merge(countries,vegetaux, on='Code zone')

joinPopVegetaux["ratio"] = joinPopVegetaux["Valeur"] / joinPopVegetaux["Population"] * 365
joinPopVegetaux

,Code zone,Zone_x,Produit_x,Année,Unité_x,Population,Zone_y,Élément,Produit_y,Unité_y,Valeur,ratio
0,2,Afghanistan,Population,2013,1000 personnes,30552,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Blé,Kcal/personne/jour,1369.0,16.355230
1,2,Afghanistan,Population,2013,1000 personnes,30552,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Riz (Eq Blanchi),Kcal/personne/jour,141.0,1.684505
2,2,Afghanistan,Population,2013,1000 personnes,30552,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Orge,Kcal/personne/jour,26.0,0.310618
3,2,Afghanistan,Population,2013,1000 personnes,30552,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Maïs,Kcal/personne/jour,21.0,0.250884
4,2,Afghanistan,Population,2013,1000 personnes,30552,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),Millet,Kcal/personne/jour,3.0,0.035841
...,...,...,...,...,...,...,...,...,...,...,...,...
10339,181,Zimbabwe,Population,2013,1000 personnes,14150,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Bière,Kcal/personne/jour,24.0,0.619081
10340,181,Zimbabwe,Population,2013,1000 personnes,14150,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Boissons Fermentés,Kcal/personne/jour,10.0,0.257951
10341,181,Zimbabwe,Population,2013,1000 personnes,14150,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Boissons Alcooliques,Kcal/personne/jour,42.0,1.083392
10342,181,Zimbabwe,Population,2013,1000 personnes,14150,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Aliments pour enfants,Kcal/personne/jour,0.0,0.000000
10343,181,Zimbabwe,Population,2013,1000 personnes,14150,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour),Miscellanees,Kcal/personne/jour,2.0,0.051590

In [21]:
joinPopAnimaux = pd.merge(countries,vegetaux, on='Code zone')

NameError: name 'df' is not defined